---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/towardsuffering',
		icon: GithubIcon
	},
	{
		name: 'Twitter',
		url: 'https://x.com/ChrisRotunno',
		icon: TwitterIcon
	}
]
---

<header class='relative flex items-center justify-between h-12 font-semibold px-4'>
	<div class='flex items-center'>
		<HeaderLink href='/' class='text-xl font-bold'>Chris Blogs</HeaderLink>
	</div>

	<nav class='hidden md:flex items-center gap-4'>
		<HeaderLink href='/'>Home</HeaderLink>
		<HeaderLink href='/about'>About</HeaderLink>
		<HeaderLink href='/tags' class='flex items-center gap-1'>
			<TagIcon /> Tags
		</HeaderLink>
		{
			SOCIALNETWORKS.map((network) => (
				<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
					<span>{<network.icon />} </span>
				</HeaderLink>
			))
		}
	</nav>

	<div class='flex items-center gap-2'>
		<Search />
		<ToggleTheme />

		<button id='menu-toggle' class='md:hidden'>
			<MenuIcon />
		</button>
	</div>
</header>

<div
	id='mobile-menu'
	class='fixed inset-0 bg-white dark:bg-gray-800 z-50 hidden flex-col items-center justify-center'
>
	<button id='close-menu' class='absolute top-3 right-4 text-2xl'>&times;</button>
	<nav class='flex flex-col items-center gap-4'>
		<HeaderLink href='/'>Home</HeaderLink>
		<HeaderLink href='/about'>About</HeaderLink>
		<HeaderLink href='/tags' class='flex items-center gap-1'>
			<TagIcon /> Tags
		</HeaderLink>
		{
			SOCIALNETWORKS.map((network) => (
				<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
					<span>{<network.icon />} </span>
				</HeaderLink>
			))
		}
	</nav>
</div>

<script>
	const menuToggle = document.getElementById('menu-toggle')
	const closeMenu = document.getElementById('close-menu')
	const mobileMenu = document.getElementById('mobile-menu')

	menuToggle.addEventListener('click', () => {
		mobileMenu.classList.remove('hidden')
		mobileMenu.classList.add('flex')
	})

	closeMenu.addEventListener('click', () => {
		mobileMenu.classList.add('hidden')
		mobileMenu.classList.remove('flex')
	})

	// Close menu when clicking a link
	const mobileLinks = mobileMenu.querySelectorAll('a')
	mobileLinks.forEach((link) => {
		link.addEventListener('click', () => {
			mobileMenu.classList.add('hidden')
			mobileMenu.classList.remove('flex')
		})
	})
</script>

<style>
	/* Add any additional styles here */
</style>
