---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/towardsuffering',
		icon: GithubIcon
	},
	{
		name: 'Twitter',
		url: 'https://x.com/ChrisRotunno',
		icon: TwitterIcon
	}
]
---

<header class='relative flex items-center justify-between h-12 font-semibold'>
	<nav class='flex items-center gap-6'>
		<HeaderLink href='/'>Home</HeaderLink>
		<HeaderLink href='/about'>About</HeaderLink>
		<HeaderLink href='/tags' class='flex items-center gap-1'>
			<TagIcon /> Tags
		</HeaderLink>
	</nav>

	<div class='flex items-center gap-4'>
		<div class='hidden md:flex items-center gap-3'>
			{
				SOCIALNETWORKS.map((network) => (
					<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
						<span>{<network.icon />} </span>
					</HeaderLink>
				))
			}
		</div>

		<Search />
		<ToggleTheme />

		<button id='menu-toggle' type='button' class='md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Toggle Menu</span>
		</button>
	</div>

	<div
		id='mobile-menu'
		class='fixed inset-y-0 right-0 z-50 w-64 overflow-y-auto bg-white dark:bg-[#0a0910] shadow-lg transform transition-transform duration-300 ease-in-out translate-x-full md:hidden'
	>
		<nav class='flex flex-col gap-4 p-4'>
			<HeaderLink href='/'>Home</HeaderLink>
			<HeaderLink href='/about'>About</HeaderLink>
			<HeaderLink href='/tags' class='flex items-center gap-1'>
				<TagIcon /> Tags
			</HeaderLink>
			{
				SOCIALNETWORKS.map((network) => (
					<HeaderLink href={network.url} target='_blank' aria-label={network.name}>
						<span>{<network.icon />} </span>
					</HeaderLink>
				))
			}
		</nav>
	</div>
</header>

<script>
	const menuToggle = document.getElementById('menu-toggle')
	const mobileMenu = document.getElementById('mobile-menu')

	function toggleMenu() {
		mobileMenu?.classList.toggle('translate-x-full')
		document.body.classList.toggle('overflow-hidden')
	}

	menuToggle?.addEventListener('click', toggleMenu)

	document.addEventListener('click', (event) => {
		const isClickInside =
			mobileMenu?.contains(event.target as Node) || menuToggle?.contains(event.target as Node)
		if (!isClickInside && !mobileMenu?.classList.contains('translate-x-full')) {
			toggleMenu()
		}
	})
</script>

<style>
	body.overflow-hidden {
		overflow: hidden;
	}
</style>
