---
interface Module {
	name: string
	description: string
}

interface Props {
	modules: Module[]
}

const { modules } = Astro.props
---

<style>
	.toolkit-container {
		@apply flex flex-wrap gap-12 justify-center items-start;
	}

	.module-card {
		@apply relative bg-[#6366f1] text-white 
               transition-all ease-in-out cursor-pointer rounded-lg shadow-lg
               px-4; /* Added horizontal padding to the card */
		width: 150px;
		height: 80px;
		overflow: hidden;
		transform: scale(1);
		backface-visibility: hidden;
		z-index: 1;
	}

	.module-card:hover {
		@apply bg-[#6366f1];
		transform: scale(1.1);
		z-index: 10;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		width: 250px;
		height: 160px;
	}

	.content-container {
		@apply absolute inset-0 flex items-center justify-center;
	}

	.module-title {
		@apply text-xl font-semibold transition-opacity ease-in-out 
               text-center w-full;
		line-height: 1.2;
	}

	.module-description {
		@apply absolute inset-0 text-base opacity-0 transition-opacity ease-in-out 
               flex items-center justify-center text-center p-4;
		transform: translateY(0);
	}

	.module-card:hover .module-title {
		@apply opacity-0;
	}

	.module-card:hover .module-description {
		@apply opacity-100;
	}
</style>

<div class='toolkit-container'>
	{
		modules.map((module) => (
			<button class='module-card'>
				<div class='content-container'>
					<div class='module-title'>{module.name}</div>
				</div>
				<div class='module-description'>{module.description}</div>
			</button>
		))
	}
</div>
