---
interface Props {
	leftTitle: string
	leftItems: string[]
	rightTitle: string
	rightItems: string[]
}

const { leftTitle, leftItems, rightTitle, rightItems }: Props = Astro.props
---

<div class='w-full'>
	<div class='flex flex-col md:flex-row gap-5'>
		<div class='flex-1'>
			<div class='bg-[#6366f1] rounded-lg'>
				<h3 class='text-xl font-semibold !text-white py-8 text-center'>{leftTitle}</h3>
			</div>
			<div
				class='rounded-lg mt-2 bg-white dark:bg-gray-800 shadow-md border border-gray-200 dark:border-gray-700'
			>
				<ul class='p-6 space-y-4 list-disc list-inside'>
					{
						leftItems.map((item) => {
							const [concept, ...description] = item.split(':')
							return (
								<li>
									<span class='font-semibold text-indigo-600 dark:text-indigo-400 mb-2 inline-block'>
										{concept}
									</span>
									{description.length > 0 && (
										<span class='text-gray-700 dark:text-gray-300 block ml-5'>
											{description.join(':')}
										</span>
									)}
								</li>
							)
						})
					}
				</ul>
			</div>
		</div>

		<div class='flex-1'>
			<div class='bg-[#6366f1] rounded-lg'>
				<h3 class='text-xl font-semibold !text-white py-8 text-center'>{rightTitle}</h3>
			</div>
			<div
				class='rounded-lg mt-2 bg-white dark:bg-gray-800 shadow-md border border-gray-200 dark:border-gray-700'
			>
				<ul class='p-6 space-y-4 list-disc list-inside'>
					{
						rightItems.map((item) => {
							const [concept, ...description] = item.split(':')
							return (
								<li>
									<span class='font-semibold text-indigo-600 dark:text-indigo-400 mb-2 inline-block'>
										{concept}
									</span>
									{description.length > 0 && (
										<span class='text-gray-700 dark:text-gray-300 block ml-5'>
											{description.join(':')}
										</span>
									)}
								</li>
							)
						})
					}
				</ul>
			</div>
		</div>
	</div>
</div>
